/* gloable Style */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-tranisition: 0.3s;
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --gray-color: #888;
}

body {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;

}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-alt-color);
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

/* Start Page */
.page {
  background-color: #f1f5f9;
  min-height: 100vh;
}

/* Start sidebar */
.sidebar {
  width: 250px;
  box-shadow: 0 0 10px #DDD;
  text-transform: capitalize;
}

.sidebar>h3 {
  margin-bottom: 30px;
  text-transform: capitalize;
}

@media (min-width:768px) {

  .sidebar>h3::before,
  .sidebar>h3::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
  }

  .sidebar>h3::after {
    bottom: -30px;
    width: 20px;
    height: 20px;
    border: 4px solid white;
    border-radius: 50%;
  }

  .sidebar>h3::before {
    bottom: -20px;
    width: 100px;
    height: 3px;
  }
}



.sidebar ul li a {
  transition: var(--main-tranisition);
  margin-bottom: 5px;
}

.sidebar ul li a.active,
.sidebar ul li a:hover {
  background-color: #f6f6f6;
}

.sidebar ul li a span {
  margin-left: 10px;
  font-size: 14px;
}

@media (max-width:767px) {
  .sidebar {
    padding: 10px;
    width: 60px;

  }

  .sidebar>h3 {
    font-size: 14px;
    margin-bottom: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .b-none {
    display: none;
  }
}

/* End sidebar */
/* start content */
.content {
  overflow: hidden;
}

header .srch::before {
  font-family: var(--fa-style-family-classic);
  font-weight: 900;
  content: "\f002";
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: var(--gray-color);
}

@media (max-width:767px) {
  header {
    padding: 15px 10px !important;
  }
}

header .srch input {
  border: 1px solid #ccc;
  width: 160px;
  border-radius: 10px;
  margin-left: 5px;
  padding-left: 30px;
  transition: width var(--main-tranisition);
}

header .srch input:focus {
  outline: #aaa;
  width: 200px;
}

header .srch input:focus::placeholder {
  opacity: 0;
}

header .info .notification::before {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  width: 10px;
  height: 10px;
  background-color: var(--red-color);
  border-radius: 50%;
}

header .info img {
  width: 32px;
  height: 32px;
  margin-left: 10px;
}

.wrapper {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}

/* Start welcome Widage */
.welcome {
  overflow: hidden;
  text-transform: capitalize;
}

.welcome .intro img {
  width: 150px;
  margin-bottom: -10px;
}

.welcome .intro>div {
  margin-top: -10px;
}

.welcome .avater {
  width: 60px;
  margin-left: 20px;
  height: 60px;
  box-shadow: 0px 0px 5px #DDD;
  border: 4px solid white;
  /* box-shadow: 0px 0px 5px #DDD; */
  border-radius: 50%;
  margin-top: -30px;
}

.welcome .body {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee
}

.welcome .body>div {
  flex: 1;
}

.welcome a,
.draft a {
  margin: 0px 15px 15px auto;
  font-weight: bold;
  padding: 9px;
}

.welcome a:hover {
  background-color: var(--blue-alt-color);
}

@media (max-width:767px) {
  .welcome .avater {
    margin-right: -150px;
  }
}

/* End welcome Widage/ */
/* Start Draft */


.draft form input,
.draft form textarea {
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: none;
}

.draft form textarea {
  max-height: 150px;
  min-height: 150px;
  max-width: 100%;
  min-width: 100%;
}

.draft form input:focus,
.draft form textarea {
  outline: none;
  border: none;
}

/* End Draft */
/* Start Target */
.target .detalis .box {
  align-items: flex-end;
  position: relative;
}


.target .detalis .box .icon {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  font-size: 20px;
}

.target .detalis .box:first-child .icon {
  background-color: #0077ff85;
  color: var(--blue-alt-color);
}

.target .detalis .box:last-child .icon {
  background-color: #76e67686;
  color: var(--green-color);
}

.target .detalis .box:nth-child(2) .icon {
  background-color: #f3bf649d;
  color: var(--orange-color);
}

.target .detalis .box .info {
  flex: 1;
  padding-bottom: 10px;
  font-size: 14px;
}

.target .detalis .box .info::before,
.target .detalis .box .info::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 4px;

}

.money,
.project,
.team {
  position: absolute;
  bottom: 10px;
  border-radius: 5px;
  display: flex;
  width: 35px;
  height: 20px;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: white;
}

.money {
  left: 75%;
  background-color: var(--blue-alt-color);

}

.project {
  left: 50%;
  background-color: var(--orange-color);
}



.team {
  left: 70%;
  background-color: var(--green-color);
}

.target .detalis .box:first-child .info::before {
  width: 100%;
  background-color: #0077ff85;
}

.target .detalis .box:first-child .info::after {
  width: 80%;
  background-color: var(--blue-alt-color)
}

.target .detalis .box:nth-child(2) .info::before {
  width: 100%;
  background-color: #f3bf649d;
}

.target .detalis .box:nth-child(2) .info::after {
  width: 55%;
  background-color: var(--orange-color)
}

.target .detalis .box:last-child .info::before {
  width: 100%;
  background-color: #76e67686;
}

.target .detalis .box:last-child .info::after {
  width: 75%;
  background-color: var(--green-color)
}

/* End Target */
@media (max-width:767px) {
  .wrapper {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
  }
}

/* end content */
/* Start Ticket */
.ticket .card {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.ticket .card .box {
  flex-basis: 45%;
  border: 1px solid #eee;
  color: gray;
}

.ticket .card .box span {
  font-size: 28px;
  font-weight: bolder;
  margin: 5px 0px;
  color: black;
}

@media (max-width:767px) {
  .ticket .card {
    flex-direction: column;
  }

  .ticket .card .box {
    width: 100%;

  }
}

/* End Ticket */
/* Start News */


.news .box img {
  width: 100px;
  margin-right: 10px;
}

.news .box {
  padding-top: 10px;
  padding-bottom: 10px;
}

.news .box span {
  border-radius: 6px;
  background-color: #EEE;
  padding: 5px;
  font-size: 14px;
}

.news .box:not(:last-child) {

  border-bottom: 2px solid #eee;
}

@media (min-width:768px) {
  .news .box span {
    position: absolute;
    right: 0px;
    font-size: 12px;
  }

}

@media (max-width:767px) {
  .news .box {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

}

/* End News */
/* Start Tasks */
.tasks .box {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;

}

.tasks .box .txt p {
  padding-top: 5px;
}

.tasks .box:nth-child(4) .txt h3 {
  color: var(--gray-color);
  text-decoration: line-through double;
}

.tasks .box:nth-child(4) .txt p {
  color: #a1a1a1;
  text-decoration: line-through double;
}

.tasks .box:not(:last-child) {
  border-bottom: 2px solid #eee;
}

.tasks .box i {
  cursor: pointer;
}

.tasks .box i:hover {
  color: var(--red-color);
}

/* End Tasks */
/* Start Projects */
.projects div img {
  width: 150px;
  opacity: 0.2;
  /* position: absolute;
        bottom: 10px;
        right: 20px; */
  /* filter: grayscale(); */
}

.projects div .content {
  gap: 30px;
  padding-top: 20px;
  padding-left: 50px;
}

.projects div .content::before {
  content: "";
  position: absolute;
  left: 15px;
  top: 50%;
  width: 3px;
  height: 85%;
  transform: translateY(-50%);
  background: var(--blue-alt-color);
}

.projects div .content .box {
  font-size: 18px;
  font-weight: 400;
}

.projects div .content .box::before {
  content: "";
  position: absolute;
  left: -46px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-color: var(--blue-alt-color);
  border-radius: 50%;
  border: 2px solid white;
  outline: 2px solid var(--blue-alt-color);
}

.projects div .content .box:nth-child(4):before {
  animation-name: wait;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

}

@keyframes wait {
  form {
    background-color: var(--blue-alt-color);
  }

  to {
    background-color: #fff;
  }
}

.projects div .content .box:last-child::before {
  background-color: white;
}

.projects div .content .box:last-child {
  margin-bottom: 10px;
}

/* End Projects */
/* Start search-item */
.search-item .box {
  font-size: 18px;

}

.search-item .box-txt {
  font-size: 16px;
}

.search-item .box-txt span:last-child {
  background-color: #EEE;
  padding: 4px 10px;
  text-align: center;
  border-radius: 5px;
  font-size: 12px;
}

/* End search-item */
/* Start Upload */
.upload .box .info img {
  width: 40px;
}

.upload .box:not(:last-child) {
  border-bottom: 2px solid #EEE;
}

/* End Upload */
/* Start Reminder */
.reminder .box::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translateY(-50%);
  width: 2px;
  height: 75%;
}

.reminder .box:nth-child(2)::before {
  background-color: var(--blue-alt-color);
}

.reminder .box:nth-child(3)::before {
  background-color: var(--green-color);
}

.reminder .box:nth-child(4)::before {
  background-color: var(--orange-color);
}

.reminder .box:nth-child(5)::before {
  background-color: var(--red-color);
}

.reminder .box::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid white;
  outline: 1px solid red;

}

.reminder .box:nth-child(2)::after {
  background-color: var(--blue-alt-color);
  outline: 2px solid var(--blue-alt-color);
}

.reminder .box:nth-child(3)::after {
  background-color: var(--green-color);
  outline: 2px solid var(--green-color);
}

.reminder .box:nth-child(4)::after {
  background-color: var(--orange-color);
  outline: 2px solid var(--orange-color);
}

.reminder .box:nth-child(5)::after {
  background-color: var(--red-color);
  outline: 2px solid var(--red-color);
}

/* End Reminder */
/* Start Post */
.post .box img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border: 4px solid white;
  border-radius: 50%;
}

.post .box {
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 2px solid #EEE;
}

.post .post-box {
  padding: 20px 0px;
  border-bottom: 2px solid #EEE;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.8;
  text-align: center;
}

/* End Post */
/* Start Social Media */
.social-media .box .info i {
  width: 60px;
  height: 60px;
  font-size: 25px;
  justify-content: center;
  transition: var(--main-tranisition);
  margin-right: 15px;

}

.social-media .box .info i:hover {
  transform: rotate(10deg)
}

.social-media .box a {
  margin-right: 10px;
}

.social-media .twitter,
.social-media .facebook,
.social-media .linkedin {
  margin-top: 15px;
  background-color: #0077ff63;
}

.social-media .youtube {
  margin-top: 15px;
  background-color: #f443366c;
}

/* End Social Media */
/* Start Setting */
/* Start Control */
.control textarea {
  border: 1px solid #CCC;
  outline: none;
  min-width: 100%;
  min-height: 150px;
  max-height: 150px;
  max-width: 100%;
  resize: none;
}

/* End Control */
/* Start General Info */
input {
  border: 1px solid #CCC;
  outline: none;
}

/* End General Info */
/* Start Social Info */
.social-info i {
  width: 40px;
  height: 40px;
  border: 1px solid #CCC;
  border-right: none;
  border-radius: 10px 0px 0px 10px;
  background-color: #f6f6f6;
  color: var(--gray-color);
  font-size: 20px;
}

.social-info input {
  width: 100%;
  height: 40px;
  border: 1px solid #CCC;
  outline: none;
  padding-left: 10px;
  font-size: 14px;
  border-radius: 0px 10px 10px 0px;
  background-color: #f6f6f6;
}

.social-info>div:focus-within i {
  color: black;
}

/* End Social Info */
/* Start Widgets */
.widget .box input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

.widget .box label {
  font-weight: 400;
  position: relative;
  cursor: pointer;
  padding-left: 30px;
}

.widget .box label::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  border: 2px solid #CCC;
  border-radius: 5px;
}

.widget .box label:hover::before {
  border: 2px solid var(--blue-color);
}

.widget .box label::after {
  font-weight: 900;
  font-family: var(--fa-style-family-classic);
  content: "\f00c";
  color: white;
  background-color: var(--blue-color);
  position: absolute;
  width: 24px;
  height: 24px;
  left: 0px;
  top: 0px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transform: scale(0) rotate(360deg);

  transition: var(--main-tranisition);
}

.widget .box input[type="checkbox"]:checked+label::after {
  transform: scale(1);
}

.widget .box input[type="checkbox"]:checked+label:hover::before {
  border: none;
}

/* End Widgets */
/* Start Buckup */
.buckup .plan {
  padding-bottom: 10px;
  border-bottom: 1px solid #CCC;
}

.buckup .plan div {
  margin-bottom: 10px;

}

.buckup .plan div input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

.buckup .plan div label {
  padding-left: 30px;
  position: relative;
  cursor: pointer;
}

.buckup .plan div label::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  border: 2px solid var(--gray-color);
  border-radius: 50%;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
}

.buckup .plan div label:hover::before {
  border-color: var(--blue-color);
}

.buckup .plan div label::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border: 3px solid white;
  outline: 2px solid var(--blue-color);
  background-color: var(--blue-color);
  border-radius: 50%;
  transition: var(--main-tranisition);
  left: 0px;

  transform: scale(0);
}

.buckup div input[type="radio"]:checked+label::after {
  transform: scale(1);
}

.buckup .servers .server-megaman label,
.buckup .servers .server-zero label,
.buckup .servers .server-sigma label {
  border: 1px solid #CCC;
  padding: 25px;
  border-radius: 10px;
}

.buckup .servers .server-megaman input[type="radio"],
.buckup .servers .server-zero input[type="radio"],
.buckup .servers .server-sigma input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;

}

.buckup .servers .server-megaman input[type="radio"]:checked+label,
.buckup .servers .server-zero input[type="radio"]:checked+label,
.buckup .servers .server-sigma input[type="radio"]:checked+label {
  border: 2px solid var(--blue-color);
  color: var(--blue-color);
}

@media (max-width:767px) {
  .buckup .servers {
    flex-wrap: wrap;
  }
}

/* End Buckup */
/* End Setting */
/* Start Profile */
/* Start gene-info */
.gene-info .profile-info {
  min-width: 250px;
  border-right: 2px solid #EEE;
}

.gene-info .profile-info .progress {
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background-color: #EEE;
  position: relative;
}

.gene-info .profile-info .progress::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 100%;
  left: 0px;
  top: 0px;
  background-color: var(--blue-alt-color);
  border-radius: 5px 0px 0px 5px;
}

.gene-info .profile-info img {
  width: 100px;
  height: 100px;
}

.gene-info .general-info {
  flex: 1;
}

.gene-info .general-info .box:hover {
  background-color: #cccccc3d;
}

/* End gene-info */

/* Start other-info */
.other-info .info-skills {
  min-width: 350px;
}

@media (max-width:767px) {
  .other-info .info-skills {
    min-width: 100%;
    margin-bottom: 30px;
  }
}

.other-info .lates-active {
  flex: 1;
}

.other-info .lates-active .box .info img {
  width: 70px;
  height: 70px;
}

/* End other-info */

/* End Profile */
/* Start Projects */
.wrapper .box-projects .date {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 14px;
  color: var(--gray-color);
}

.wrapper .box-projects .img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid white;
}

.wrapper .box-projects .img img:not(:first-child) {
  margin-left: -20px;
}

.wrapper .box-projects .progrs .progress {
  width: 85%;
  max-width: 100%;
  height: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.wrapper .box-projects .progrs .progress::before,
.wrapper .box-projects:first-child .progrs .progress::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 60%;
  height: 100%;
  background-color: var(--red-color);
  border-radius: 5px;
}



.wrapper .box-projects:nth-child(2) .progrs .progress::before {
  width: 70%;
  background-color: var(--green-color);
}

.wrapper .box-projects:nth-child(3) .progrs .progress::before {
  width: 90%;
  background-color: var(--blue-color);
}

.wrapper .box-projects:nth-child(4) .progrs .progress::before {
  width: 60%;
  background-color: var(--green-color);
}

.wrapper .box-projects:nth-child(5) .progrs .progress::before {
  width: 40%;
  background-color: var(--green-color);
}

.wrapper .box-projects:nth-child(6) .progrs .progress::before {
  width: 70%;
}

.wrapper .box-projects:nth-child(7) .progrs .progress::before {
  width: 65%;
  background-color: var(--green-color);
}

.wrapper .box-projects:nth-child(8) .progrs .progress::before {
  width: 35%;
  background-color: var(--green-color);
}

.wrapper .box-projects:nth-child(9) .progrs .progress::before {
  width: 75%;
  background-color: var(--green-color);
}

@media (max-width:767px) {
  .wrapper .box-projects .progrs .progress {
    width: 100%;

  }
}

/* End Projects */
.course,
.frinds {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  gap: 20px;
}

@media (max-width:767px) {

  .course,
  .frinds {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
}

.course .box {
  overflow: hidden;
}

.course .box .img img {
  width: 100%;

}

.course .box .img img:last-child {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 10px;
  top: 20px;
  border-radius: 50%;
}

.course .box .body .txt {
  line-height: 1.7;


}

.course .box .body .txt .btn-shape {
  padding: 0px 10px;
}

.course .box .body .txt span {
  position: absolute;
  bottom: -13px;
  left: 50%;
  transform: translateX(-50%);
}

/* Start Course */
/* End Course */
/* Start Frinds */
.frinds .box .head-img .contact {
  position: absolute;
  left: 0px;
  top: 0px;
}

.frinds .box .head-img .contact i:hover {
  background-color: var(--blue-color);
  color: white;
}

.frinds .box .head-img img {
  width: 100px;
  /* height: 100px; */
}

/* End Frinds */
/* Start File */
/* Static File */
.files {
  flex-direction: row-reverse;
}

.files .file-statistic {
  width: 300px;
  max-height: 70vh;
}



.files .file-statistic .box .info i {
  font-size: 18px;
  width: 30px;
  height: 30px;

}

.files .file-statistic .box:first-of-type .info i {
  background-color: rgb(0 117 255 / 20%);
}

.files .file-statistic .box:nth-of-type(2) .info i {
  background-color: rgba(11, 245, 70, 0.2);
}

.files .file-statistic .box:nth-of-type(3) .info i {
  background-color: rgba(245, 11, 11, 0.2);
}

.files .file-statistic .box:last-of-type .info i {
  background-color: rgb(245 158 11 / 20%);
}

.files .file-upload {
  flex: 1;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
}

.files .file-upload .box .file-meta img {
  width: 50px;
  height: 50px;
  transition: var(--main-tranisition);
}

.files .file-upload .box .file-meta img:hover {
  transform: rotate(10deg);
}

a.uploud {
  padding: 20px 0px;

}

a.uploud:hover i {
  animation-name: up-to-down;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@media (max-width:767px) {
  .files {
    flex-direction: column;
  }

  .files .file-statistic {
    width: 100%;
    max-height: 75vh;
  }
}

@keyframes up-to-down {
  form {
    transform: translateY(-10px);
  }

  to {
    transform: translateY(10px);
  }
}

/* End File */
/* Start Plan */
.plans.d-grid {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 20px;
}

@media (max-width:767px) {
  .plans.d-grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
}

.plans .plan-box .box-header {
  text-align: center;
  border: 3px solid white;

  padding: 20px 0px;
  color: white;
  font-size: 30px;
  margin-bottom: 25px;
}

.plans .plan-box:first-of-type .box-header {
  outline: 3px solid var(--green-color);
}

.plans .plan-box:nth-of-type(2) .box-header {
  outline: 3px solid var(--blue-color);
}

.plans .plan-box:last-of-type .box-header {
  outline: 3px solid var(--orange-color);
}

.plans .plan-box .box-header p {
  font-weight: bold;
}

.offer-plan {
  font-weight: 500;
}

/* End Plan */
/* main -header */
h1 {
  margin: 20px 20px 40px;
}

@media (max-width:767px) {
  h1 {
    margin: 20px 10px 40px;
  }
}

h1::before,
h1::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0px;
  height: 4px;
}

h1::after {
  width: 50px;
  background: black;
}

h1::before {
  width: 170px;
  background: white;
}

.toggle-checkbox {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

.toggle-switch {
  width: 74px;
  height: 34px;
  background-color: #CCC;
  border-radius: 17px;
  position: relative;
  transition: var(--main-tranisition);
  cursor: pointer;
}

.toggle-switch.toggle-small {
  width: 84px;
  height: 16px;
}

.toggle-switch::before {
  font-family: var(--fa-style-family-classic);
  font-weight: 900;
  content: "\f00d";
  background-color: white;
  position: absolute;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 5px;
  left: 5px;
  transition: var(--main-tranisition);
  color: #CCC;
}

.toggle-switch.toggle-small::before {
  height: 15px;
  width: 15px;
  font-size: 14px;
  top: 0px;
}

.toggle-checkbox:checked+.toggle-switch {
  background-color: var(--blue-alt-color);
}

.toggle-checkbox:checked+.toggle-switch::before {
  content: "\f00c";
  color: var(--blue-alt-color);
  left: 45px;
}

.toggle-checkbox:checked+.toggle-switch.toggle-small::before {

  left: 64px;
}